# Игнор-лист файлов проекта
# Игнорировать ВСЕ файлы и директории, включая поддиректории и файлы в них
#  Virtual Environment
/.venv/*
/.venv3.11/*
# PyCharm Files
/.idea/*
#tests

test
test.py
#Logs
*.log
/flask-homework/.env
/django/.venv/
/django/.env
/django/robot_dreams/robot_dreams.sqlite3
/flask-homework/instance/test.db
